<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music- login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box">
        <form action="/login" method="POST" class="innerbox">
            <span> Music</span>
            <label for="">E-MAIL ID</label>
            <input type="email" placeholder="@e-mail" name="email">
            <label for="password">PASSWORD</label>
            <input type="password" placeholder="password" name="password">
            <h3><%=error%></h3>
            <button type="submit" class="btn">LOG IN</a></button>
            <h4 id="SignUp">forget password ?<a href="/forget">forget</a></h4>
            <h4 id="SignUp">Create a new account ?<a href="/signup">Sign Up</a></h4>
        </form>
    </div>
</body>
</html>